.footer {
	margin: 0;
	background-color: dodgerblue;
	height: auto;
	min-height: 260px;
}

.nav-stack {
	&__list {
		list-style: none;
		padding: 0;
	}
	&__item {
		color: white;
		&--main {
			margin-bottom: 20px;
		}
	}
	&__title {
		color: white;
		font-size: 14px;
		font-weight: bold;
	}
	&:first-child {
		padding-left: 60px;
	}
}