.footer {
	margin: 0;
	background-color: blue;
	height: auto;
	min-height: 310px;
	&__nav-list {
		list-style: none;
		padding: 0;
	}
	&__nav-item {
		&--main {
			margin-bottom: 20px;
		}
	}
	&__nav-stack {
		&:first-child {
			padding-left: 60px;
		}
	}
}