html * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    color: @black;
    overflow-x: hidden;
    &::-webkit-input-placeholder {
        color: @grey;
    }
    &::-moz-placeholder {
        color: @grey;
    }
    &::-ms-input-placeholder {
        color: @grey;
    }
    &::-moz-placeholder {
        color: @grey;
    }
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex-display {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.base-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.reset {
    padding: 0;
    margin: 0;
}
// Acts like a col, but aswell as a row if the modifier is applied.
.maxi-size {
    .flex-display;
    .flex-fixed(@max-size);
    &--row {
        .base-row;
    }
    &.mid {
        align-items: center;
    }
    @media screen and (max-width: @max-size-sm-breakpoint) {
        .flex-fixed(80%);
    }
    @media screen and (max-width: @max-size-xs-breakpoint) {
        .flex-fixed(90%);
    }
}

.strong {
    font-weight: bold;
}

.small-title {
    color: white;
    font-weight: bold;
    font-size: 14px;
    text-align: left;
}

.button {
    padding: 10px;
    border: 1px solid @grey--light;
    display: flex;
    align-items: center;
    color: @grey;
    position: relative;
    overflow: hidden;
    background-color: transparent;
    &::before {
        content: '';
        position: absolute;
        left: 0;
        top: 0;
        transform: skew(-25deg) translate3d(-20px,0,0);
        height: 100%;
        width: 0;
        background-color: @grey--light;
        transition: width .7s @easeOutCirc, color .2s ease;
        z-index: -1;
    }
    &:hover {
        color: white;
    }
    &:hover:before {
        width: calc(~'100% + 40px');
    }
    &:hover &__icon svg path {
        fill: white;
    }
    &--consultation {
        margin-top: 5px;
        border-color: @red;
        &::before {
            background-color: @red;
        }
    }
    &:not(.button--consultation) {
    }
    &__label {
        font-size: 14px;
        .button--reverse & { margin-left: 10px; }
    }
    &__icon {
        height: 18px;
        margin-left: 10px;
        .button--reverse & { margin-left: 0; }
        svg {
            height: 10px;
            path {
                fill: @grey;
                //transition: fill .2s ease;
            }
        }
        .button--consultation & {
            margin-left: 20px;
            svg path {
                fill: @red;
            }
        }
    }
}

.form-group {
    // Pour retirer le gap de 2-3px entre le label et le select.
    display: flex;
    align-items: center;
    justify-content: flex-end;
    &:first-child {
        margin-right: 30px;
    }
    @media screen and (max-width: @product-head--breakpoint) {
        flex-basis: 100%;
        max-width: 100%;
        justify-content: center;
        margin-top: 20px;
        &:first-child {
            margin-right: 0;
        }
    }
    .graphic__form & {
        @media screen and (max-width: 865px) {
            flex-basis: 100%;
            max-width: 100%;
            justify-content: center;
            &:first-child {
                margin-right: 0;
            }
            &:last-child {
                margin-top: 15px;
            }
        }
    }
    .products--all & {
        @media screen and (max-width: 870px) {
            flex-basis: 100%;
            max-width: 100%;
            justify-content: center;
            margin-top: 20px;
            &:first-child {
                margin-right: 0;
            }
        }
    }
    &__label {
        &--onbackground {
            color: white;
        }
        margin-right: 10px;
    }
    &__inner {
        display: flex;
        align-items: center;
        &:first-child:not(:only-child) {
            margin-right: 30px;
        }
    }
    &__wrapper {
        position: relative;
        &::before {
            content:'';
            position: absolute;
            right: 15px;
            bottom: 10px;
            width: 0;
            height: 0;
            background-color: transparent;
            border-top: solid 3px @select-arrow--color;
            border-left: solid 3px transparent;
            border-right: solid 3px transparent;
            display: block;
            z-index: 1;
        }
        &::after {
            content:'';
            position: absolute;
            right: 15px;
            top: 10px;
            width: 0;
            height: 0;
            background-color: transparent;
            border-bottom: solid 3px @select-arrow--color;
            border-left: solid 3px transparent;
            border-right: solid 3px transparent;
            display: block;
            z-index: 1;
        }
        &--white {
            &::before {
                border-top: solid 3px white;
            }
            &::after {
                border-bottom: solid 3px white;
            }
        }
        &--no-arrow {
            &::before {
                content: '';
                position: absolute;
                left: 10px;
                top: 0;
                border: none;
                background-image: url('../img/loupe.svg');
                background-repeat: no-repeat;
                background-position: center;
                background-size: 19px;
                width: 20px;
                height: 100%;
            }
            &::after {
                display: none;
            }
        }
    }
    &__input {
        height: 30px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appeareance: none;
        width: 255px;
        border: 1px solid @border-select--color;
        box-shadow: 1px 1px 0 rgba(0,0,0,0.15);
        font-size: 14px;
        padding: 0 10px 0 40px;
        color: @grey;
        position: relative;
    }
    &__select {
        height: 30px;
        -moz-appearance: none;
        -webkit-appearance: none;
        appeareance: none;
        align-items: center;
        width: 120px;
        background-color: white;
        border: 1px solid @border-select--color;
        color: @grey;
        font-size: 14px;
        padding: 0 10px;
        position: relative;
        cursor: pointer;
        display: block;
        outline: none;
        padding-right: 40px;
        box-shadow: 1px 1px 0 rgba(0,0,0,0.15);
        &--graphic {
            background-color: @red--dark;
            color: white;
            border-color: white;
        }
    }
}

.expand {
    margin-top: 35px;
    position: relative;
    &::before,&::after {
        content:'';
        height:1px;
        flex-grow:1;
        background-color: @grey--light;
        display: block;
        left: 0;
    }
    &--padding {
        padding-right: 50px;
    }
}


.command-button {
    margin: 0;
    color: white;
    font-size: 14px;
    .label {
        padding: 10px;
        border: 1px solid white;
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: lowercase;
        transition: background-color .25s ease-out;
        color: white;
        &:hover {
            background-color: #fff;
            color: @black;
        }
        &:hover .superior-to {
            -webkit-filter: none;
            filter: none;
        }
        .superior-to {
            width: 20px;
            height: 10px;
            transition: filter .25s ease-out;
            background-image: url('../img/key-right.svg');
            background-position: center;
            background-repeat: no-repeat;
            -webkit-filter: invert(1);
            filter: invert(1);
        }
    }
}

