html * {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    color: @black;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.flex-display {
    box-sizing: border-box;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    -webkit-box-flex: 0;
    flex: 0 0 auto;
}

.base-row {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: -webkit-box;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
}

.reset {
    padding: 0;
    margin: 0;
}
// Acts like a col, but aswell as a row if the modifier is applied.
.maxi-size {
    .flex-display;
    .flex-fixed(@max-size);
    &--row {
        .base-row;
    }
    &.mid {
        align-items: center;
    }
    @media screen and (max-width: @max-size-sm-breakpoint) {
        .flex-fixed(80%);
    }
}

.strong {
    font-weight: bold;
}

.command-button {
    margin: 0;
    color: white;
    font-size: 14px;
    .label {
        padding: 10px;
        border: 1px solid white;
        width: 150px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-transform: lowercase;
        transition: background-color .25s ease-out;
        color: white;
        &:hover {
            background-color: #fff;
            color: @black;
        }
        &:hover .superior-to {
            -webkit-filter: none;
            filter: none;
        }
        .superior-to {
            width: 20px;
            height: 20px;
            transition: filter .25s ease-out;
            background-image: url('../img/key-right.svg');
            background-position: center;
            background-repeat: no-repeat;
            background-size: 20px 20px;
            -webkit-filter: invert(1);
            filter: invert(1);
        }
    }
}