// Colors
@pipe--color: #555555;
@dirty-green: #0cff56;
@black: #333;
@black--dark: #212121;
@bg-product: #efefef;
@red: #ff3f0c;
@bg-image: #e6e6e6;
@grey--light: #d6d6d6;
@light-label: #c6c6c6;
@grey: #555555;
@icon-regular: #a7a7a7;
// Sizes
@max-size: 945px;
@max-size-sm-breakpoint: 1045px;
@cols-number: 12;

// Random
@weird-bg: '../img/custom-slide.png';
@deg: 1.5deg;
